## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_vals = application_df.nunique()
unique_vals

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_bins = application_df['APPLICATION_TYPE'].value_counts()
application_type_bins

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =[]
cutoff_val=500
for index, val in application_type_bins.items():
    if val <= cutoff_val:
        application_types_to_replace.append(index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_bins = application_df['CLASSIFICATION'].value_counts() 
classification_bins

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1245        1
C2380        1
C2561        1
C4500        1
C1732        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_to_replace = []
for el in application_df['CLASSIFICATION'].unique():
  if application_df.CLASSIFICATION.value_counts()[el] > 50:
    pass
  else:
    classifications_to_replace.append(el)
print(len(classifications_to_replace))

57

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      441
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df, drop_first=True)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL']
split_df = dummies_df.drop(columns=['IS_SUCCESSFUL'])
split_df.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [11]:
# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(split_df, y, test_size=0.2)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=45))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 276

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 325
Trainable params: 325
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
858/858 [==============================] - 2s 1ms/step - loss: 0.6610 - accuracy: 0.6375
Epoch 2/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5920 - accuracy: 0.7173
Epoch 3/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5703 - accuracy: 0.7239
Epoch 4/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5643 - accuracy: 0.7256
Epoch 5/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5606 - accuracy: 0.7277
Epoch 6/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7277: 0s - loss:
Epoch 7/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7280
Epoch 8/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7299
Epoch 9/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7297
Epoch 10/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7313
Epoch 11/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7304
Epoch 12/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7310
Epoch 13/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7309
Epoch 14/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7320
Epoch 15/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7307
Epoch 16/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7308
Epoch 17/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7297
Epoch 18/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7314
Epoch 19/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7315
Epoch 20/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7313
Epoch 21/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7315
Epoch 22/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7307
Epoch 23/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7310
Epoch 24/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7311
Epoch 25/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7307
Epoch 26/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7304
Epoch 27/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7311
Epoch 28/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7304
Epoch 29/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7314
Epoch 30/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7304
Epoch 31/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7321
Epoch 32/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7310
Epoch 33/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7321
Epoch 34/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7313
Epoch 35/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7305
Epoch 36/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7329
Epoch 37/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7310
Epoch 38/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7310
Epoch 39/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7308
Epoch 40/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7312
Epoch 41/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7324
Epoch 42/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7325
Epoch 43/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7319
Epoch 44/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7322
Epoch 45/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7321
Epoch 46/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7329
Epoch 47/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7321
Epoch 48/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7318
Epoch 49/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7330
Epoch 50/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7330
Epoch 51/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7324
Epoch 52/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7320
Epoch 53/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7324
Epoch 54/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7340
Epoch 55/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7324
Epoch 56/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7328: 0s - loss: 0.5450
Epoch 57/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7326
Epoch 58/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7329
Epoch 59/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7331
Epoch 60/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7331
Epoch 61/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7323
Epoch 62/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7321
Epoch 63/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7333
Epoch 64/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7334
Epoch 65/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7322
Epoch 66/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7318
Epoch 67/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7324
Epoch 68/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7325
Epoch 69/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7334
Epoch 70/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7331
Epoch 71/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7330
Epoch 72/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7337
Epoch 73/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7337
Epoch 74/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7331
Epoch 75/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7329
Epoch 76/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7334
Epoch 77/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7326
Epoch 78/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7340
Epoch 79/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7321
Epoch 80/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7331
Epoch 81/200

858/858 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7330
Epoch 82/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7337
Epoch 83/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 84/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7331: 0s - loss: 0.5432 - accura
Epoch 85/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7336
Epoch 86/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7340
Epoch 87/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7330
Epoch 88/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7337
Epoch 89/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7337
Epoch 90/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7341
Epoch 91/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7335
Epoch 92/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7330
Epoch 93/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7337
Epoch 94/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7336
Epoch 95/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7347
Epoch 96/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 97/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7342
Epoch 98/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7343
Epoch 99/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7333
Epoch 100/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7339
Epoch 101/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 102/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7336
Epoch 103/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 104/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 105/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7336
Epoch 106/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7342
Epoch 107/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 108/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7337
Epoch 109/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7335
Epoch 110/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7337
Epoch 111/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 112/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7340
Epoch 113/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7339
Epoch 114/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7337
Epoch 115/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7332
Epoch 116/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7335
Epoch 117/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7330
Epoch 118/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7342
Epoch 119/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7333
Epoch 120/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7343
Epoch 121/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7336: 0s - loss: 0.5435 - accura
Epoch 122/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7337
Epoch 123/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7349
Epoch 124/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7328
Epoch 125/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 126/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7332
Epoch 127/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7336
Epoch 128/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7350
Epoch 129/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7340
Epoch 130/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7347
Epoch 131/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7340
Epoch 132/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7338
Epoch 133/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7340
Epoch 134/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7326
Epoch 135/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7332
Epoch 136/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 137/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 138/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7340
Epoch 139/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7333: 0s - loss: 0.545
Epoch 140/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7332
Epoch 141/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7338: 0s - loss: 0.5440 - accura
Epoch 142/200
858/858 [==============================] - 1s 976us/step - loss: 0.5436 - accuracy: 0.7347
Epoch 143/200
858/858 [==============================] - 1s 963us/step - loss: 0.5435 - accuracy: 0.7343
Epoch 144/200
858/858 [==============================] - 1s 969us/step - loss: 0.5436 - accuracy: 0.7334
Epoch 145/200
858/858 [==============================] - 1s 992us/step - loss: 0.5433 - accuracy: 0.7341
Epoch 146/200
858/858 [==============================] - 1s 986us/step - loss: 0.5438 - accuracy: 0.7342
Epoch 147/200
858/858 [==============================] - 1s 974us/step - loss: 0.5436 - accuracy: 0.7340
Epoch 148/200
858/858 [==============================] - 1s 974us/step - loss: 0.5437 - accuracy: 0.7322
Epoch 149/200
858/858 [==============================] - 1s 964us/step - loss: 0.5434 - accuracy: 0.7345
Epoch 150/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 151/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7343
Epoch 152/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7342
Epoch 153/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7334
Epoch 154/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7337
Epoch 155/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7339
Epoch 156/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7346
Epoch 157/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7351
Epoch 158/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7338
Epoch 159/200

858/858 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7345
Epoch 160/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7341
Epoch 161/200
858/858 [==============================] - 1s 997us/step - loss: 0.5433 - accuracy: 0.7333
Epoch 162/200
858/858 [==============================] - 1s 977us/step - loss: 0.5434 - accuracy: 0.7349
Epoch 163/200
858/858 [==============================] - 1s 990us/step - loss: 0.5442 - accuracy: 0.7341
Epoch 164/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7330
Epoch 165/200
858/858 [==============================] - 1s 998us/step - loss: 0.5442 - accuracy: 0.7348
Epoch 166/200
858/858 [==============================] - 1s 989us/step - loss: 0.5439 - accuracy: 0.7336
Epoch 167/200
 49/858 [>.............................] - ETA: 0s - loss: 0.5408 - accuracy: 0.7423

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity_InitialModel.h5")